@tailwind base;
@tailwind components;
@tailwind utilities;

#story-div::-webkit-scrollbar {
  display: none;
}

#story-div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
